/* .hero {
  height: 70vh;
  background-image: url("https://images.unsplash.com/photo-1502673530728-f79b4cab31b1");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-overlay {
  background-color: rgba(0, 0, 0, 0.55);
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  color: white;
}

.hero-overlay h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero-overlay p {
  font-size: 1.2rem;
} */
